h1, h3, h4 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
h1{
  font-size: 4em;
  text-align: center;
  padding: 20px;
}
h3 {
  font-size: 2.5em;
  margin: 20px;
}
h4 {
  font-size: 1.5em;
  margin: 10px;
}
.headerSection {
  width: 100%;
  height: 100px;
}
.gameSection {
  width: 100%;
  height: 600px;
}
.game {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
.pieceContainer {
  height: 100%;
  width: 100%;
}
.pcSquare {
  display: inline-block;
}
.pcSquare.empty {
  /*height: 25px;
  width: 25px;*/
  height: 18%;
  width: 18%;
  border-radius: 5px;
  margin: 0.5px 1px;
  /*background: lightgrey;*/
  visibility: hidden;
}
.pcSquare.filled {
  /*height: 25px;
  width: 25px;*/
  height: 18%;
  width: 18%;
  margin: 0.5px 1px;
  border-radius: 5px;
}
.boardSquare {
  height: 9.5%;
  width: 9.5%;
  margin: 0.5px 1px;
  border-radius: 5px;
  background-color: #ECF0F1;
  display:inline-block;
}
.player1Section {
  width: 20%;
  height: 100%;
}
.player2Section {
  width: 20%;
  height: 100%;
}
.boardSection {
  width: 59.3%;
  height: 100%;
}
.staticContainer {
  height: 230px;
  width: 230px;
  margin: 15% auto;
}
.board {
  height: 450px;
  width: 450px;
  margin: 5% auto;
}
/*.square {
  background: grey;
  height: 25px;
}*/
